/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  background-color: #4f6378;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav h3 {
  color: white;
}

ul {
  list-style-type: none;
}

li {
  float: left;
  display: block;
  padding: 0 50px 0 50px;
}

main {
  background-color: #4f6378;
  margin: 0;
  height: 500px;
  width: auto;
  padding: 100px;
  color: white;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

section {
  height: 500px;
  text-align: center;
  color: black;
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.top section * {
  width: 100px;
}
