/* Please Make only Rhino and Zebra Blue */
.africa {
    color: blue;
}

/* Please Make only Hufflepuff Gold */
.harryPotter {
    color: gold;
}


/* Please select Duck with the highest level of specificity possible */
h1#hi + section.top + section.middle + article.areDucksDinosaurs > h2.likesToQuack.fight10or100 {
    color: lime !important;
}


/* Please select Rhino with the highest level of specificity possible */
